
*.bak
.DS_Store
*.dwl
*.dwl2
*.lck
inventor-files/OldVersions/main chassis.0002.ipt
inventor-files/OldVersions/main chassis.0005.ipt
inventor-files/OldVersions/main chassis.0006.ipt
inventor-files/OldVersions/main chassis.0001.iam
